<h1>Aqui puedes ver los anios</h1>
<form action="/search" method="GET">
  <input type="text" name="query" placeholder="Search">
  <button type="submit">Go</button>
</form>

<h2>1er Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/coneyone">Salud Mental y Psiquiatria I</a></li>
		<li><a class="dropdown-item" href="/coneytwo">Salud Publica</a></li>
		<li><a class="dropdown-item" href="/coneythree">Competencia comunicativa</a></li>
        <li><a class="dropdown-item" href="/coneyfourth">Fundamentos de enfermeria</a></li>
        <li><a class="dropdown-item" href="/coneyfifth">Practica I</a></li>
        <li><a class="dropdown-item" href="/coneysix">Fisiologia</a></li>
        <li><a class="dropdown-item" href="/coneyseven">Bioquimica</a></li>
        <li><a class="dropdown-item" href="/coneyeight">Anatomia</a></li>
		<li><a class="dropdown-item" href="/coneynine">Filosofia</a></li>
	  </ul>
	</div>
<h2>2do Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Enfermeria del adulto</a></li>
		<li><a class="dropdown-item" href="#">Farmacologia y terapeutica aplicada</a></li>
		<li><a class="dropdown-item" href="#">Infectologia Aplicada a Enfermeria</a></li>
        <li><a class="dropdown-item" href="#">Enfermeria en Salud Mental y psiquiatria II</a></li>
        <li><a class="dropdown-item" href="#">Practica II</a></li>
        <li><a class="dropdown-item" href="#">Antropologia de la Salud</a></li>
        <li><a class="dropdown-item" href="#">Nutricion y Dietetica</a></li>
		<li><a class="dropdown-item" href="#">Informatica</a></li>
	  </ul>
	</div>
<h2>3er Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Bioetica y enfermeria legal</a></li>
		<li><a class="dropdown-item" href="#">Enfermeria Gerontologica</a></li>
		<li><a class="dropdown-item" href="#">Org, Ges y adm de los servicios de enfermeria</a></li>
        <li><a class="dropdown-item" href="#">Enfermeria en salud comunitaria</a></li>
        <li><a class="dropdown-item" href="#">Practica III</a></li>
		<li><a class="dropdown-item" href="#">Ingles tecnico</a></li>
	  </ul>
	</div>
