<h1>Aqui puedes ver los anios</h1>
<h2>1er Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/coneyone">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
	  </ul>
	</div>
<h2>2do Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
	  </ul>
	</div>
<h2>3er Anio</h2>
  <div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		Clases
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
		<li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
        <li><a class="dropdown-item" href="#">Class</a></li>
	  </ul>
	</div>
