<section class="card">
  <div class="card-body">
    <h1>Acerca de</h1>
    <p>
      Esta aplicacion esta pensada para unicamente contener PDFs para ayudarte en tu carrera!
    </p>
  </div>
</section>