<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Pagina contenedora de PDFs</h1>
  <p class="lead">Aqui encontraras los pdfs, libros y mas que necesitaras durante tu carrera!!</p>
  <hr class="my-4" />
  <div>
    <p>Eres el admin?</p>
    <a
      class="btn btn-primary btn-lg"
      href="/signin"
      role="button"
    >Inicia Sesion</a>
  </div>
</div>