html {
    height: 100%;
    
    
}
/*Controls the body behavior*/
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #5AC3B0;
}
footer{
    margin-top: auto;
}
.col-md-3{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

h2{
    text-align: center;
}


