<h1>Practica I</h1>
<div class="second">
<div class="d-flex justify-content-evenly">
      {{>class}}
      </div>
<hr>
<h2>PDF</h2>
<div class="d-flex justify-content-evenly">
      <a href="#">Link random</a>
      <a href="#">Link random</a>
      <a href="#">Link random</a>
      <a href="#">Link random</a>
      <a href="#">Link random</a>
</div>
<hr>
<h2>Libros</h2>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<hr>