<h1>Competencia comunicativa</h1>
<div class="second">
     <div class="col-md-12 text-end px-4">
           <form>
                <button class="btn btn-primary btn-lg" type="submit" formaction="1klasse.html">Agregar PDF</button>
                <button class="btn btn-primary btn-lg" type="submit" formaction="1klasse.html">Agregar Libro</button>
            </form>
      </div>
<hr>
<h2>PDF</h2>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<hr>
<h2>Libros</h2>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<a href="#">Link random</a>
<hr>